<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.azzhu.myo2o.mapper.sys.MenuMapper">
    <!--根据角色id查询菜单-->
    <select id="queryMenuByRoleId" resultType="cn.azzhu.myo2o.entity.Menu">
        select t1.* from
		tb_menu t1 inner join tb_role_menu t2 on(t1.id=t2.mid) where
		t2.rid=#{rid} and t1.available=#{available}
    </select>

    <!--根据用户id查询菜单-->
    <select id="queryMenuByUid" resultType="cn.azzhu.myo2o.entity.Menu">
		select distinct t1.* from
		tb_menu t1 inner join tb_role_menu t2 inner join tb_role_user t3
		on(t1.id=t2.mid and t2.rid=t3.rid)
		where t3.uid=#{uid} and t1.available=#{available}
    </select>

    <!-- 根据菜单id删除tb_role_menu里面的数据 -->
    <delete id="deleteRoleMenuByMid">
		delete from tb_role_menu where mid=#{mid}
	</delete>
</mapper>