<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.azzhu.myo2o.mapper.sys.UserMapper">
    <select id="queryAllUsers" resultType="cn.azzhu.myo2o.vo.UserVo">
      SELECT t1.`user_name`,t1.`password`,t2.*
      FROM tb_local_auth t1,tb_person_info t2
      WHERE t1.`user_id` = t2.`user_id`
      AND t2.`enable_status` = 1
      <if test="name != null and name !='' ">
         AND `name` like concat("%",#{name},"%")
      </if>
       <if test="userName != null and userName !='' ">
          AND user_name like concat("%",#{userName},"%")
       </if>
       <if test="phone!=null and phone !=''">
          and phone like concat("%",#{phone},"%")
       </if>
       <if test="gender!=null">
          and gender=#{gender}
       </if>
    </select>

    <!-- 保存用户和角色的关系 -->
    <insert id="insertUserRole">
		insert into tb_role_user(uid,rid) values(#{uid},#{rid})
	</insert>
</mapper>
